@spartacus:registry=https://73554900100900004337.npmsrv.base.repositories.cloud.sap/
//73554900100900004337.npmsrv.base.repositories.cloud.sap/:_auth=MDAwMTEwMjUxNi10YWtlOjZPbTJCWDlpWUt4NElOeWR0THhIYlJTRGxTcEU1cE9k
always-auth=true
